Package: com.geeker.hwhealthsideload
Name: HWHealthSideload
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Sideload helper for Huawei Health to bypass token restrictions and trigger native WiFi transfer.
Maintainer: Geeker
Author: Geeker
Section: Tweaks
