Package: com.geeker.hwhealthsideload
Name: HWHealthSideload
Depends: mobilesubstrate
Version: 2.0.0
Architecture: iphoneos-arm
Description: Sideload helper for Huawei Health - v2 with sign spoof and SSL bypass.
Maintainer: Geeker
Author: Geeker
Section: Tweaks
